<% content_for :title, t('reset_password.edit.title') %>
<div class="reset-password-form">
  <div class="change-pasword-form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <div class="form-group mb-4">
        <%= f.label :password, t('reset_password.edit.new_password'), class: "form-label" %>
        <div class="form-group-control">
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control input-custom" %>
        </div>
      </div>
      <div class="form-group mb-4">
        <%= f.label :password_confirmation, t('reset_password.edit.new_password_confirm'), class: "form-label" %>
        <div class="form-group-control">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control input-custom" %>
        </div>
      </div>
      <div class="text-center">
        <%= f.submit t('reset_password.edit.button'), class: "px-5 btn btn-custom btn-primary btn-submit" %>
      </div>
    <% end %>
  </div>
</div>
