<%= form_for(resource, as: resource_name, url: sign_up_create_path, data: { turbo: false }) do |f| %>
  <section class="section">
    <h3 class="page-title text-center d-none d-lg-block"><%= t("candidate.registration.profile.create") %></h3>
    <div class="profile-desciption"><%= t("candidate.registration.profile.description") %></div>
    <hr class="profile-hr">
    <div class="boxed-center">
      <div class="boxed-container">
        <form class="form-highlight">
          <%= f.fields_for :candidate, resource.candidate || Candidate.new do |ff| %>
            <div class="accordion accordion-sp" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header accordion-header-info accordion-header-full" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                  <div class="text-center"><%= t("candidate.registration.profile.labels.profile") %></div>
                </button>
              </h2>
              <div class="accordion-collapse collapse show" id="panelsStayOpen-collapseOne" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body py-md-0 px-0 border-0">
                  <div class="form-group">
                    <label class="form-label"><%= t("candidate.registration.profile.labels.certificate") %></label>
                    <div class="form-group-control form-group-checkbox">
                      <p><%= t("candidate.registration.profile.labels.please_select_certificate") %></p>
                      <div class="row g-1 g-md-3 align-items-center">
                        <% Candidate.certificates.each do |key, value| %>
                          <div class="col-auto">
                            <label class="form-check">
                              <%= ff.check_box :certificates, { multiple: true, class: "form-check-input", checked: ff.object.certificates.include?(value), id: "cbx_certificate_#{value}" }, value, nil %>
                              <span class="form-check-label"><%= t("candidate.registration.profile.certificates.#{key}") %></span>
                            </label>
                          </div>
                        <% end %>
                      </div>
                      <p class="text-danger pt-2"><%= t("candidate.registration.profile.labels.fill_other_certificates") %></p>
                      <%= ff.text_area :other_certificates, class: "form-control", id: "other_certificates", rows: 6, placeholder: t("candidate.registration.profile.labels.fill_other_certificates"), disabled: true %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label"><%= t("candidate.registration.profile.labels.final_education") %></label>
                    <div class="form-group-control">
                      <p><%= t("candidate.registration.profile.labels.write_academic_background") %></p>
                      <div class="row">
                        <div class="col-md-7">
                          <div class="mb-3 mb-md-0">
                            <%= ff.text_field :specialization, class: "form-control", placeholder: "学校名・学部・学科" %>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="row g-3">
                            <div class="col-auto">
                              <%= ff.text_field :graduation_year, class: "form-control", placeholder: "卒業年" %>
                            </div>
                            <div class="col-auto">
                              <label class="col-form-label"><%= t("candidate.registration.profile.labels.year_graduate") %></label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label"><%= t("candidate.registration.profile.labels.job_career") %></label>
                    <% if ff.object.errors.key?(:profiles) %>
                      <div class="i-helper danger"><%= ff.object.errors[:profiles].first %></div>
                    <% end %>
                    <div class="form-group-control">
                      <div class="form-table form-table-input table-responsive">
                        <table class="table table-bordered">
                          <thead>
                          <tr>
                            <td class="text-center year-col">年</td>
                            <td class="text-center month-col">月</td>
                            <td class="text-center"><%= t("candidate.registration.profile.labels.information_cv_column") %></td>
                          </tr>
                          </thead>
                          <tbody>
                            <% (0..4).each do |i| %>
                              <%= ff.fields_for :profiles, ff.object.profiles[i] || ff.object.profiles.build do |profile_form| %>
                                <tr>
                                  <td>
                                    <%= profile_form.text_field :year_start_work, class: "form-control px-0 border-0 cv-field" %>
                                  </td>
                                  <td>
                                    <%= profile_form.text_field :month_start_work, class: "form-control px-0 border-0 cv-field" %>
                                  </td>
                                  <td rowspan="3">
                                    <%= profile_form.text_area :note, class: "form-control px-0 border-0 cv-field", rows: 5 %>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="text-center" colspan="2">〜</td>
                                </tr>
                                <tr>
                                  <td>
                                    <%= profile_form.text_field :year_end_work, class: "form-control px-0 border-0 cv-field" %>
                                  </td>
                                  <td>
                                    <%= profile_form.text_field :month_end_work, class: "form-control px-0 border-0 cv-field" %>
                                  </td>
                                </tr>
                              <% end %>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label"><%= t("candidate.registration.profile.labels.skill_to_note") %></label>
                    <div class="form-group-control">
                      <p><%= t("candidate.registration.profile.labels.other_skill") %></p>
                      <%= ff.text_area :skill, class: "form-control", rows: "6" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-divider d-none d-lg-block"></div>
            <div class="accordion-item">
              <h2 class="accordion-header accordion-header-info accordion-header-full" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  <div class="text-center"><%= t("candidate.registration.profile.labels.file_upload") %></div>
                </button>
              </h2>
              <div class="accordion-collapse collapse" id="panelsStayOpen-collapseTwo" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body py-md-0 px-0 border-0">
                  <div class="form-group mb-4">
                    <label class="form-label">ファイルアップロード</label>
                    <div class="form-group-control">
                      <div><%= t("candidate.registration.profile.labels.upload_file_text").html_safe %></div>
                      <div class="text-danger"><%= t("candidate.registration.profile.labels.limit_file_upload") %></div>
                    </div>
                  </div>

                  <% (0..2).each do |i| %>
                    <%= ff.fields_for :attachments, ff.object.attachments[i] || ff.object.attachments.build do |att_form| %>
                      <div class="form-group">
                        <div class="form-group-control">
                          <%= att_form.text_field :description, class: "form-control", placeholder: "アップロードファイルの説明" %>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-group-control form-group-action-btn">
                          <div class="row g-2 align-items-center">
                            <div class="col">
                              <%= text_field_tag "file_name_#{i}", "" ,disabled: true, class: "form-control #{att_form.object.invalid? ? "danger" : ""}" %>
                            </div>
                            <div class="col-auto">
                              <%= att_form.file_field :file, class: "d-none cv-file",  id: "select_file_#{i}" %>
                              <%= button_tag t("candidate.registration.profile.button.upload_file"), class: "btn btn-custom btn-grey rounded-0 btn-upload-file", id: "btn_upload_file_#{i}", type: "button" %>
                              <%= button_tag t("candidate.registration.profile.button.delete_file"), class: "btn btn-custom btn-grey rounded-0 btn-delete-file", id: "btn_remove_file_#{i}", type: "button" %>
                            </div>
                          </div>
                          <% if att_form.object.invalid? %>
                            <div class="i-helper danger"><%= att_form.object.errors.full_messages.first %></div>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
            <%= ff.hidden_field :first_name %>
            <%= ff.hidden_field :last_name %>
            <%= ff.hidden_field :first_name_kana %>
            <%= ff.hidden_field :last_name_kana %>
            <%= ff.hidden_field :zipcode %>
            <%= ff.hidden_field :gender %>
            <%= ff.hidden_field :national %>
            <%= ff.hidden_field :year_of_birth %>
            <%= ff.hidden_field :month_of_birth %>
            <%= ff.hidden_field :day_of_birth %>
            <%= ff.hidden_field :prefecture %>
            <%= ff.hidden_field :city %>
            <%= ff.hidden_field :address %>
            <%= ff.hidden_field :phone_number %>
            <%= ff.hidden_field :dob %>
            <%= hidden_field_tag "screen", "create_profile" %>
          <% end %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :email_confirmation %>
          <%= f.hidden_field :password %>
          <%= f.hidden_field :password_confirmation %>
          <div class="form-bottom d-flex justify-content-center">
            <div class="form-button-group text-center">
              <div class="form-group">
                <div class="d-grid gap-4 gap-md-5">
                  <%= f.submit t("candidate.registration.profile.button.submit"), class: "btn btn-custom btn-primary" %>
                  <%= link_to sign_up_confirm_path do %>
                    <%= button_tag t("candidate.registration.profile.button.back_to_confirm"), class: "btn btn-custom btn-primary w-100", type: "button" %>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
<% end %>
