<div><%= @candidate_job.job.medical_institution.full_name_manager %>　様</div>
<br>
<div>ダイバースをご利用いただき、誠にありがとうございます。</div>
<br>
<div><%= @candidate_job.candidate.full_name %>　様を採用としました。</div>
<br>
<div>以下の画面より、就業者詳細、契約条件をご確認ください。</div>
<div>就業者詳細はこちら：<%= link_to "就業者詳細", medical_job_url(@candidate_job.job_id) %></div>
<div>契約条件はこちら：<%= link_to "契約内容", medical_candidate_job_contract_url(@candidate_job.id) %></div>
<br>
<%= render "shared/mailer/footer", url_contact: new_medical_contact_url %>
