<div><%= @candidate_job.job.medical_institution.full_name_manager %>　様</div>
<br>
<div>ダイバースをご利用いただき、誠にありがとうございます。</div>
<br>
<div><%= @candidate_job.candidate.full_name %>　様より、採用承諾を受け付けましたので、ご連絡いたします。</div>
<br>
<div>お名前：<%= @candidate_job.candidate.full_name %></div>
<div>メールアドレス：<%= @candidate_job.candidate.user_email %></div>
<div>求人情報：<%= link_to "募集詳細画面", medical_jobs_applied_url(@candidate_job.id) %></div>
<br>
<%= render "shared/mailer/footer", url_contact: new_medical_contact_url %>
