<p><%= @contact.name %>　様</p>
<p></p>
<p>この度はダイバースへお問い合わせいただき誠にありがとうございます。</p>
<p>以下の内容のお問い合わせを受け付けました。</p>
<p>担当者より折り返しご連絡させていただきます。</p>
<p></p>
<p>尚、お問い合わせ内容によっては、ご返事までにお時間をいただく場合もございます。</p>
<p>あらかじめご了承ください。</p>
<p></p>
<p>--------------------------------------</p>
<p>■ご入力内容</p>
<p>--------------------------------------</p>
<p>お名前： <%= @contact.name %></p>
<p>メールアドレス： <%= @contact.email %></p>
<p>件名： <%= @contact.title %></p>
<p>お問合せ内容：</p>
<p style="white-space: pre-line"><%= @contact.content %></p>
<%= render 'shared/mailer/footer' %>
