<h3 class="page-title text-center"><%= t('reset_password.edit.title') %></h3>
<div class="full-height">
  <div class="container">
    <div class="change-pasword-form">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <div class="text-center mb-5">
          <strong><%= t('reset_password.edit.text') %></strong>
        </div>
        <div class="form-group">
          <%= f.label :password, t('reset_password.edit.new_password') %>
          <div class="form-group-control">
             <%= f.password_field :password, autocomplete: "new-password", class: "form-control input-custom" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, t('reset_password.edit.new_password_confirm') %>
          <div class="form-group-control">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control input-custom" %>
          </div>
        </div>
        <div class="form-button-group text-center mx-auto">
          <div class="form-group">
            <div class="d-grid gap-4 gap-md-5">
              <%= f.submit t('reset_password.edit.button'), class: "btn btn-custom btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
