<% content_for :title, t("medical.account.show.title") %>
<% content_for :title_class, "text-center text-lg-start" %>
<% @crud_buttons = proc do %>
<% end %>
<%= form_for @user, url: medical_account_path, method: :put, data: { turbo: false } do |f| %>
  <div class="wrap mb-4">
    <div class="title-header">
      <label class="box fw-bolder"><%= I18n.t("medical.account.show.labels.registered_content") %></label>
    </div>

    <div class="boxed px-3 px-lg-0">
      <form class="form-highlight">
        <div class="form-group ps-2">
          <label><%= t("medical.account.show.labels.medical_name") %></label>
          <div class="ps-3"><%= @user.medical_institution.name %></div>
        </div>
        <div class="form-group mt-3 ps-2">
          <label><%= t("medical.account.show.labels.medical_name_kana") %></label>
          <div class="ps-3"><%= @user.medical_institution.name_kana %></div>
        </div>
        <div class="form-group mt-3 ps-2">
          <label><%= t("medical.account.show.labels.phone_number") %></label>
          <div class="ps-3"><%= @user.medical_institution.phone_number %></div>
        </div>
        <div class="form-group mt-3 ps-2">
          <label><%= t("medical.account.show.labels.url") %></label>
          <div class="ps-3"><%= @user.medical_institution.url %></div>
        </div>
        <div class="form-group mt-3 ps-2">
          <label><%= t("medical.account.show.labels.zipcode") %></label>
          <div class="ps-3"><%= display_zipcode(@user.medical_institution.zipcode) %></div>
        </div>
        <div class="form-group mt-3 ps-2">
          <label><%= t("medical.account.show.labels.location") %></label>
          <div class="ps-3"><%= @user.medical_institution.location %></div>
        </div>
        <div class="form-group mt-3 ps-2">
          <label><%= t("medical.account.show.labels.manager") %></label>
          <div class="ps-3"><%= @user.medical_institution.full_name_manager %></div>
        </div>
        <div class="form-group mt-3 ps-2">
          <label><%= t("medical.account.show.labels.name_manager_kana") %></label>
          <div class="ps-3"><%= @user.medical_institution.full_name_kana_manager %></div>
        </div>
        <div class="form-group mt-3 ps-2">
          <label><%= t("medical.account.show.labels.email") %></label>
          <div class="ps-3"><%= @user.medical_institution.user.email %></div>
        </div>
        <div class="form-group mt-3 ps-2">
          <label><%= t("medical.account.show.labels.password") %></label>
          <div class="form-group-control"><%= convert_password_to_asterisk(@user) %></div>
        </div>
        <div class="form-group mt-3 ps-2">
          <label><%= t("medical.account.show.labels.password_confirmation") %></label>
          <div class="form-group-control"><%= convert_password_to_asterisk(@user) %></div>
        </div>
        <div class="wrap mb-3 mt-3 ps-2">
          <div class="title-header">
            <label class="box fw-bolder"><%= I18n.t("medical.account.show.labels.introduction_pharmaceutical") %></label>
          </div>
        </div>
        <div class="form-group mt-3 ps-2">
          <label><%= t("medical.account.show.labels.name_pharma") %></label>
          <div class="ps-3"><%= @user.medical_institution.pharmaceutical_company.name %></div>
        </div>
        <div class="form-group mt-3 mb-4 ps-2">
          <label><%= t("medical.account.show.labels.ms_staff") %></label>
          <div class="ps-3"><%= @user.medical_institution.pharmaceutical_company.staff_ms %></div>
        </div>
        <%= f.hidden_field :password %>
        <%= f.hidden_field :password_confirmation %>
        <%= f.fields_for :medical_institution, @user.medical_institution do |ff| %>
          <%= ff.hidden_field :name %>
          <%= ff.hidden_field :name_kana %>
          <%= ff.hidden_field :phone_number %>
          <%= ff.hidden_field :url %>
          <%= ff.hidden_field :zipcode_first %>
          <%= ff.hidden_field :zipcode_last %>
          <%= ff.hidden_field :location %>
          <%= ff.hidden_field :first_name_manager %>
          <%= ff.hidden_field :first_name_kana_manager %>
          <%= ff.hidden_field :last_name_manager %>
          <%= ff.hidden_field :last_name_kana_manager %>

          <%= ff.fields_for :pharmaceutical_company, @user.medical_institution.pharmaceutical_company do |fff| %>
            <%= fff.hidden_field :name %>
            <%= fff.hidden_field :staff_ms %>
          <% end %>
      <% end %>


        <hr class="d-none d-md-block gaps-2x" />
        <div class="form-group mt-3 mb-4 ps-2">
          <label><%= t("medical.account.show.labels.confirm_update") %></label>
        </div>
        <div class="form-group mt-4">
          <%= f.submit t("medical.account.show.labels.update_account"), class: "btn button btn-submit button-draft-save" %>
        </div>
      </form>
    </div>
  </div>
<% end %>
