<% case @resource.role %>
<% when "admin" %>
  <div>ログインパスワードの再設定がリクエストされました。</div>
  <div>パスワード変更画面はこちら：<%= link_to 'パスワード変更画面', edit_admin_user_password_url(reset_password_token: @token) %></div>
<% when "medical" %>
  <div><%= @resource.full_name %>　様</div>
  <br>
  <div>ダイバースをご利用いただき、誠にありがとうございます。</div>
  <br>
  <div>ログインパスワードの再設定がリクエストされました。</div>
  <div>下記のリンクをクリックして新しいパスワードの変更をお願いします：</div>
  <div>パスワード変更画面はこちら：<%= link_to 'パスワード変更画面', edit_medical_user_password_url(reset_password_token: @token) %></div>
  <br>
  <%= render "shared/mailer/footer", url_contact: new_medical_contact_url %>
<% else %>
  <div><%= @resource.full_name %>　様</div>
  <br>
  <div>ダイバースをご利用いただき、誠にありがとうございます。</div>
  <br>
  <div>ログインパスワードの再設定がリクエストされました。</div>
  <div>下記のリンクをクリックして新しいパスワードの変更をお願いします：</div>
  <div>パスワード変更画面はこちら：<%= link_to 'パスワード変更画面', edit_user_password_url(reset_password_token: @token) %></div>
  <br>
  <%= render "shared/mailer/footer" %>
<% end %>
