<% content_for :title, t(".title") %>
<% content_for :title_class, "text-start text-lg-start" %>

<div class="boxed">
  <form class="form-highlight">
    <div class="form-group">
      <label class="form-label"><%= t(".medical_institution_name") %></label>
      <div class="form-group-control"><%= @medical_institution.name %></div>
    </div>
    <div class="form-group">
      <label class="form-label"><%= t(".contract_list") %></label>
      <div class="form-group-control">
        <div class="text-danger mb-1"><%= t(".contract_description") %></div>
        <ul class="list-group list-group-unstyled text-center">
          <li class="list-group-item active" aria-current="true">
            <a href="#"><%= t(".contract_id") %></a>
          </li>
          <% @candidate_jobs.each do |candidate_job| %>
            <li class="list-group-item" aria-current="true">
              <%= link_to candidate_job.contract_id, withholding_slips_path(params: { job_id: candidate_job.job.id, medical_institution_id: @medical_institution.id }) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </form>
  <%= paginate @candidate_jobs,
               theme: "bootstrap-5", nav_class: "pagination-wrapper mt-5 pt-md-3",
               pagination_class: "pagination justify-content-center",
               window: 1, left: 1, right: 1  %>
</div>
