<% content_for :title, t("admin.medical_institution.attendances.title") %>
<% content_for :title_class, "text-start text-lg-start" %>

<div class="boxed boxed-wrapper-996">
  <form class="form-highlight">
    <div class="form-group">
      <label class="form-label"><%= t("admin.medical_institution.attendances.attendances.employee_name") %></label>
      <div class="form-group-control"><%= @candidate.full_name %></div>
    </div>
    <div class="form-group">
      <label class="form-label"><%= t("admin.medical_institution.attendances.attendances.medical_institution_name") %></label>
      <div class="form-group-control"><%= @job.medical_institution.name %></div>
    </div>
    <div class="form-group">
      <label class="form-label"><%= t("admin.medical_institution.attendances.attendances.contract_id") %></label>
      <div class="form-group-control"><%= @job.contract_id %></div>
    </div>
    <div class="form-group">
      <label class="form-label"><%= t("admin.medical_institution.attendances.attendances.attendance_list") %></label>
      <div class="form-group-control">
        <div class="attendance-list-view">
          <div class="attendance-list-header d-flex align-items-end justify-content-between mb-3">
            <div class="attendance-list-title"><%= l @pagination[:current], format: :year_month %></div>
            <div class="attendance-list-pagination">
              <nav aria-label="Page navigation example">
                <ul class="pagination pagination-text-primary mb-0">
                  <% if @pagination[:previous] %>
                    <li class="page-item">
                      <%= link_to send(@current_url, params: { job_id: @job.id, month: @pagination[:previous].strftime("%Y-%m") }), class: "page-link" do %>
                        <span aria-hidden="true">&laquo;</span>
                      <% end %>
                    </li>
                  <% end %>
                  <li class="page-item">
                    <%= link_to t("admin.medical_institution.attendances.attendances.pagination.current"), send(@current_url, params: { job_id: @job.id, month: Date.current.strftime("%Y-%m") }), class: "page-link" %>
                  </li>
                  <% if @pagination[:next] %>
                    <li class="page-item">
                      <%= link_to send(@current_url, params: { job_id: @job.id, month: @pagination[:next].strftime("%Y-%m") }), class: "page-link" do %>
                        <span aria-hidden="true">&raquo;</span>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </nav>
            </div>
          </div>
          <div class="attendance-list-table">
            <div class="form-table-primary form-table table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th scope="col" class="text-center"><%= t("admin.medical_institution.attendances.attendances.date") %></th>
                  <th scope="col" class="text-center"><%= t("admin.medical_institution.attendances.attendances.checkin") %></th>
                  <th scope="col" class="text-center"><%= t("admin.medical_institution.attendances.attendances.checkout") %></th>
                  <th scope="col" class="text-center"><%= t("medical.attendance.index.labels.break_hours") %></th>
                  <th scope="col" class="text-center"><%= t("medical.attendance.index.labels.transportation_fee") %></th>
                  <th scope="col" class="text-center"><%= t("admin.medical_institution.attendances.attendances.status") %></th>
                  <th scope="col" class="text-center"><%= t("medical.attendance.index.labels.reject_note") %></th>
                </tr>
                </thead>
                <tbody>
                  <% @current_month.all_month.step(1) do |month| %>
                    <% attendance = @attendances[month.to_s] %>
                    <tr>
                      <td class="text-center"><%= l month, format: :long_2 %></td>
                      <td class="text-center"><%= attendance && l(attendance.checkin, format: :long_day3) %>
                        <br /><%= attendance && l(attendance.checkin, format: :hour_minute) %>
                      </td>
                      <td class="text-center"><%= attendance && l(attendance.checkout, format: :long_day3) %>
                        <br /><%= attendance && l(attendance.checkout, format: :hour_minute) %>
                      </td>
                      <td class="text-center"><%= attendance && attendance.break_hours %></td>
                      <td class="text-center"><%= attendance && (attendance.transportation_fee.presence || 0) %></td>
                      <td class="text-center">
                        <div class="status not-applied">
                          <div class="status-text">
                            <%= attendance&.status_i18n %>
                            <% if attendance&.review? %>
                              <i class="fa-solid fa-circle-info text-danger" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="勤怠申請をしてください。"></i>
                            <% end %>
                            <% if attendance&.rejected? %>
                              <i class="fa-solid fa-circle-info text-danger" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-html="true" data-bs-content="<p class='text-center mb-0'>勤怠を修正し、<br>勤怠申請をしてください。</p>"></i>
                            <% end %>
                          </div>
                        </div>
                      </td>
                      <td class="text-center">
                        <div class="attendance-text text-center text-pre-line"><%= attendance && (attendance&.reject_note || "-") %></div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

