<% content_for :title, "源泉徴収票メール送信" %>

<div class="container">
  <div class="row justify-content-center aligns-items-center mt-5">
    <div class="text-center mb-3 fw-bolder">
      <%= "#{@candidate&.user&.email.presence || ""} 宛に源泉徴収票を送付します。よろしいですか？" %>
    </div>
    <div class="text-center send">
      <%= link_to withholding_slip_send_mail_admin_candidate_job_path(format: :pdf, year: @year) do %>
        <button type="button" class="btn save btn-submit"><%= "源泉徴収票を送付する" %></button>
      <% end %>

      <%= link_to withholding_slip_admin_candidate_job_path do %>
        <button type="button" class="btn save btn-submit"><%= "キャンセル" %></button>
      <% end %>
    </div>
  </div>
</div>
